@page
<h1>Welcome to ChatBotPrime</h1>

<h5>To use your overlay page open it below and copy the url and place as a browser source in your streaming software i.e. OBS or SLOBS</h5>
<a asp-page="/Overlay">Overlay Page</a>